.App {
  background-color:  #ADD8E6;
  min-height: 100vh;
  text-align: center;
}

.App-link {
  color: #61dafb;
}
#campussubmit {
  border-style: solid;
  border-width: thin;
  border-color: green;
  width: 80%;
  align-items: center;
  margin-left: 10%;
}
#campussubmit button {
  color: blue;
  width: 90%;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
}
#campussubmit div input {
  padding: 10px;
  margin: 1%;
  border-radius: 10px;
  width: 14.75%;
}
#campussubmit #name, #campussubmit #description {
  padding: 10px;
  border-radius: 10px;
  margin: 1%;
  width: 90%;
}
.campustile {
  background-color: white;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 2%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.campustile div {
  margin-bottom: 2.5%;
}
.campustile hr {
  margin-top: 30px;
  margin-bottom: 30px;
  border: none;
  border-top: 2px solid #ccc;
  width: 80%;
}
.campusviewbox {
  width: 50%;
  margin-left: 25%;
  background-color: white;
}
.campusviewbox img {
  margin-top: 2.5%;
}
#editcampus, #deletecampus {
  border-radius: 10px;
  padding: 2%;
  margin: 2%;
  font-size: 20px;
}
#editcampus {
  background-color: #D3D3D3;
}
#deletecampus {
  background-color: #5E5E5E;
  color: white;
}
#campusstudentlisttable {
  margin-left: 10%;
  margin-bottom: 10%;
  width: 80%;
}
#campusstudentlisttable, #campusstudentlisttable th {
  border:1px solid black;
}
.tablecell {
  padding: 20px;
}