.App {
  background-color: beige;
  min-height: 100vh;
  text-align: center;
}

.App-link {
  color: #61dafb;
}
#campussubmit {
  border-style: solid;
  border-width: thin;
  border-color: green;
  width: 80%;
  align-items: center;
  margin-left: 10%;
}
#campussubmit button {
  color: blue;
  width: 90%;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;

}
#campussubmit input {
  padding: 10px;
  border-radius: 10px;
  margin: 1%;
  width: 90%;
}
